body {
  padding-top: 70px;
}

.hero {
  height: 100vh;
  background: url('../images/Buildingk.png') center/cover no-repeat;
}

h2 {
  margin-bottom: 20px;
}

officers{
	text-align: center;
}